/* The style for the combo box container */
.ComboBox
{
	border-right: #EFEDDE 1px solid;
	border-top: #EFEDDE 1px solid;
	border-left: #EFEDDE 1px solid;
	border-bottom: #EFEDDE 1px solid;
}



/* Defines the text box. */
.ComboBoxText 
{
	border-right: medium none;
	border-top: medium none;
	font-size: 9pt;
	border-left: medium none;
	cursor: text;
	border-bottom: medium none;
	font-family: Verdana, Tahoma, Arial;
	vertical-align: middle;
}
/* Defines the container containing the textbox and button */
.ComboBoxTextAndButton
{
	border-right: white 0px solid;
	border-top: white 0px solid;
	border-left: white 0px solid;
	border-bottom: white 0px solid;
	background: white;
	padding-right: 1px;
}
/* Defines the button */
.ComboBoxButton
{
	background-position: center center;
	background-attachment: fixed;
	background-image: url(button.gif);
	visibility: visible;
	overflow: hidden;
	width: 15px;
	cursor: hand;
	background-repeat: no-repeat;
	position: static;
	border-collapse: collapse;
	height: 20px;
	vertical-align: middle;
	
}
/* The class used when the user mouses over the button. */
.ComboBoxButtonMouseOver
{
	background-position: center center;
	background-attachment: fixed;
	background-image: url(button_hl.gif);
	visibility: visible;
	overflow: hidden;
	width: 15px;
	cursor: hand;
	background-repeat: no-repeat;
	position: static;
	border-collapse: collapse;
	height: 20px;
	vertical-align: middle;
}

/* Defines the container that contains the combo list, header, and footer */
.ComboBoxList
{
	border-right: #EFEDDE 1px solid;
	border-top: #EFEDDE 0px solid;
	z-index: 1000;
	visibility: hidden;
	border-left: #EFEDDE 1px solid;
	border-bottom: #EFEDDE 1px solid;
	position: absolute;
	text-align: left;
	scrollbar-face-color:#ECE9D8;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#EBEFF7;
	scrollbar-darkshadow-color:#625A31;
	scrollbar-shadow-color:#4D6185;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#F8F7F1;
	background-color: White;

}
/* Defines the container that contains the combo list */
.ComboBoxListBody
{
	overflow: auto;
	font-size: 8pt;
	font-family: Tahoma, Verdana, Arial;
	background-color: white;
}
/* A header for the combo list. This is between the list and textbox. */
.ComboBoxListHeader
{
	font-size: 8pt;
	font-style: normal;
	color:#000000;
	font-family: Trebuchet MS, Trebuchet, Verdana, Arial;
	background-attachment: fixed;
	background-color: #E7E9D8;
	overflow: visible;
	background-repeat: repeat;
	position: static;	
	height: 12;

}
/* The table storing the actual list data */
.ComboBoxListBodyTable
{
	font-size: 8pt;
	margin: 0px;
	vertical-align: baseline;
	cursor: default;
	position: static;
	border-collapse: collapse;
	background-color: #FFFFFF;
}
/* A row in the table. */
.ComboBoxListBodyTableRow
{
	font-size: 8pt;
	margin: 0px;
	height: 10px;
	vertical-align: baseline;
	cursor: default;
	position: static;
	font-family: Tahoma, Verdana;
	border-collapse: collapse;
	background-color: #FFFFFF;
	white-space: nowrap;
}
/* The style used when the user selects or mouses over a row */
.ComboBoxListBodyTableRowHighlighted
{
	font-size: 8pt;
	height: 10px;	
	margin: 0px;
	vertical-align: baseline;
	cursor: default;
	position: static;
	border-collapse: collapse;
	color: #FFFFFF;
	background-color: #316AC5;
	white-space: nowrap;
}

/* The column labels at the top of the columns. This style is applied to the whole row of labels. */
.ComboBoxColumnLabels
{
	font-size: 10pt;
	font-style: bold;
	color: #000000;
	font-family: Trebuchet MS, Trebuchet, Verdana, Arial;
}
/* The style applied to the individual label. */
.ComboBoxColumnLabel
{
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	vertical-align: middle;
	font-family: Trebuchet MS, Trebuchet, Verdana, Arial;
	position:relative;
	top: 0px;
	
}
/* The footer that sits underneath the list. */
.ComboBoxListFooter
{
	font-size: 8pt;
	font-family: Tahoma, Verdana, Arial;
	
	background-attachment: fixed;
	background-color: #E7E9D8;

	overflow: visible;
	background-repeat: repeat;
	vertical-align: middle;
	position: static;	
	height: 16;
}
.ComboBoxListColumnDefinition
{
	height: 15px;
	overflow:hidden;
}
.ComboBoxListFooterPageNextButton
{
	background-image: url(pb_n.gif);
	background-repeat: no-repeat;
	background-position: center center;
 	color: #ECE9D8;
	font-size: 0px;
	text-align: middle;
	vertical-align: middle;
	position:relative;
	height: 19px;
}
.ComboBoxListFooterPageNextButtonHighlight
{
	border-right: #000080 1px solid;
	background-position: center center;
	border-top: #000080 1px solid;
	background-image: url(pb_hl.gif);
	border-left: #000080 1px solid;
	border-bottom: #000080 1px solid;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	top: 0px;
	background-color: #ffeec2;
	text-align: left;
	height: 16px;
	color: #FFEEC2;
	font-size: 0px;
	
	

}