<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <connectionStrings/>

	<system.web>
      <xhtmlConformance mode ="Transitional"></xhtmlConformance>
    </system.web>

	<appSettings>
<add key="Connection_String" value="Data Source=caserver\sql2016; Initial Catalog= BillingSystem_New; User ID=sa; Pwd=CAsql123;Connect Timeout=36000; pooling='true'; Max Pool Size=1000;" />		
		<add key="EXCEL_SHEET" value="D:\LawAllies\MBSUpload\Reports\" />
		<add key="Upload_Folder" value="D:\workingdir_new\GoGreen4.5\Projects\GoGreen\root\LF\uploads\" />
		<add key="FETCHEXCEL_SHEET" value="http://localhost/MBSScans/Reports/" />
		<add key="CONTEXTMENU" value="D:\workingdir_new\GoGreen4.5\Projects\GoGreen\root\LF"></add>
		<add key="DownLoadPatient" value="50"/>
<add key="DownLoadSize" value="600"/>
<add key ="ExportToExcelPath" value="D:\workingdir_new\GoGreen4.5\Projects\GoGreen\root\iisdocs\ExportToExcelPath.xls"/>
    <add key="LFDESKOFFICEINFO" value="D:\workingdir_new\GoGreen4.5\Projects\GoGreen\root\XML\Bill_Sys_LF_Desk_Office_Info.xml"/>
    <add key="REPORTFOLDER" value="Reports\"/>
		<add key="XLPATH" value="D:\LawAllies\batch-downloads\Downloads\temp.xls"></add>
		 <add key="LFBillSearch" value="D:\workingdir_new\GoGreen4.5\Projects\GoGreen\root\XML\Bill_Sys_LF_Desk_Office_Info_Search.xml"/>
<add key="BASEPATH_OF_DOWNLOAD" value="D:/LawAllies/batch-downloads/"/>
 <add key="DocumentManagerPath" value="http://localhost/Document%20Manager/case/vb_CaseInformation.aspx"/>
    <add key="BatchDays" value="7"/>
    
  </appSettings>
</configuration>
