<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Connection_String" value="Data Source=192.168.1.100,49319\SQLSERVER2008R2; Initial Catalog=greenyourbills.com; User ID=webappuser; Pwd=wau!@#1;Connect Timeout=1000; pooling='true'; Max Pool Size=1000;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon" />
  </configSections>
  <indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
    <clientSetting SharedCacheVersionNumber="3.0.5.1" LoggingEnable="1" CompressionEnabled="0" CompressionMinSize="1024000" HashingAlgorithm="Hashing" SocketPoolMinAvailableSize="5" SocketPoolValidationInterval="00:02:00" SocketPoolTimeout="00:02:00" />
    <servers>
      <add key="localhost" ipaddress="192.168.1.100" port="48888" />
    </servers>
    <replicatedServers>
    </replicatedServers>
    <providers>
      <add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon">
      </add>
    </providers>
  </indexusNetSharedCache>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>