<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Green Bills Support Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tbody><tr>
			<td style="padding: 10px 0 30px 0;">
				<table style="border: 1px solid #cccccc; border-collapse: collapse;" align="center" border="0" cellpadding="0" cellspacing="0" width="650">
					<tbody><tr>
						<td style="padding: 40px 0 30px 0; color: #FFFFFF; font-size: 22px; font-weight: normal; font-family: Arial, sans-serif;" align="center" bgcolor="#0F2B62">
							Green Bills Support Center
						</td>
					</tr>
					<tr>
						<td style="padding: 40px 30px 40px 30px;" bgcolor="#ffffff">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 20px;">
										<b>Ticket Opened (@@TicketNumber@@)</b>
									</td>
								</tr>
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 14px;font-style:italic">
                                        [@@CompanyName@@ - @@DomainName@@]
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
										Dear @@UserName@@,
									</td>
								</tr>
								<tr>
									<td style="padding: 0px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
										We have received your request with ticket number - (@@TicketNumber@@) and your issue will be addressed immediately. 
										Our team will get in touch with you if needed.
									</td>
								</tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#DBDBDE">
											<tbody>
												<tr>
													<td style="padding-top:10px;padding-left:5px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;font-weight:bold">
														Status
													</td>
													<td style="padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                        @@Status@@
													</td>
													
													<td style="padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;font-weight:bold">
														Priority
													</td>
													<td style="padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                        @@Prioity@@
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F0F0F5">
											<tbody>
												<tr>
													<td style="padding-left:5px;padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;font-weight:bold">
														Subject
													</td>
													<td style="padding-left:5px;padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                        @@Subject@@
													</td>
												</tr>
												
												<tr>
													<td style="padding-left:5px;padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;font-weight:bold;text-align:top">
														Text
													</td>
													<td style="padding-left:5px;padding-top:10px;padding-bottom:10px;color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                        @@Description@@
													</td>
												</tr>												
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
										<i>Help us to help you !</i>
										<!--<i>Please note:</i> The ticket will be updated with the tentative time of completion of your request.-->
									
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
										We request you to furnish maximum information you can to make the job easier. Wherever possible please attach screenshots
										or paste the browser URL to tell us the exact place of the problem. This will help us serve you fast and better.
									
									</td>
								</tr>								
							</tbody></table>
						</td>
					</tr>
					<tr>
						<td style="padding: 30px 30px 30px 30px;" bgcolor="#ee4c50">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
										We thank you for using Green Bills !<br>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>
	</tbody></table>
</body></html>