


/***************************************    GRID CLASSES      ****************************************************/

.GridTable
{
    border: #8babe4 1px solid;    
}

.GridHeader
{
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    background-color: #8babe4;   
}

.GridHeader th
{
    padding:3px;
}

.GridRow
{
    border: #8babe4 1px solid;    
    background-color: #fff;
}

.GridRow td
{
    border: #8babe4 1px solid;   
    padding:2px;
    font-size: 12px;
    font-family: arial;
}

.SectionDevider
{
    height:10px;
}

/*********************************************************************************/

.ContentLabel
{
    font-size: 12px;
    font-family: arial;
    text-align:right;
}

.Buttons
{
    font-size: 12px;
    color: #000099;
    font-family: arial;
    background-color: #8babe4;
    border: 1px solid #000099;	
    padding-top:1px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:5px;
}

/*********************************************************************************/

/************************************ Tab styles ********************************/

.ajax__tab_theme .ajax__tab_header 
{
    font-family:verdana,tahoma,helvetica;
    font-size:11px;
    
}
.ajax__tab_theme .ajax__tab_header .ajax__tab_outer 
{
    padding-right:4px;
    background:url(../Styles/Tab/tab-right.gif) no-repeat right;
    height:26px;
}
.ajax__tab_theme .ajax__tab_header .ajax__tab_inner 
{
    padding-left:3px;
    background:url(../Styles/Tab/tab-left.gif) no-repeat;
}
.ajax__tab_theme .ajax__tab_header .ajax__tab_tab
{
    height:20px;    
    padding-top:6px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:4px;
    margin:0;
    background:url(../Styles/Tab/tab.gif) repeat-x;
}
.ajax__tab_theme .ajax__tab_hover .ajax__tab_outer 
{
    background:url(../Styles/Tab/tab-hover-right.gif) no-repeat right;
}
.ajax__tab_theme .ajax__tab_hover .ajax__tab_inner 
{
    background:url(../Styles/Tab/tab-hover-left.gif) no-repeat;
}
.ajax__tab_theme .ajax__tab_hover .ajax__tab_tab 
{
    background:url(../Styles/Tab/tab-hover.gif) repeat-x;
}
.ajax__tab_theme .ajax__tab_active .ajax__tab_outer 
{
    background:url(../Styles/Tab/tab-active-right.gif) no-repeat right;
}
.ajax__tab_theme .ajax__tab_active .ajax__tab_inner 
{
    background:url(../Styles/Tab/tab-active-left.gif) no-repeat;
}
.ajax__tab_theme .ajax__tab_active .ajax__tab_tab 
{
    background:url(../Styles/Tab/tab-active.gif) repeat-x;
}
.ajax__tab_theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;    
    padding: 10px;	
	background-color: #DBE6FA;
	border: 1px solid #82ABD9;	
}



/***********************************************************************************/


/***********************************************************************************/


/***************************************    GRID CLASSES  NEW     ****************************************************/



.GridTable1
{
    border: #8babe4 1px solid;    
}

.GridHeader1
{
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    background-color: #B5DF82;   
}



.Gridtest1
{
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    background-color: #B5DF82;   
}


.GridHeader th1
{
    padding:3px;
}

.GridRow1
{
    border: #8babe4 1px solid;    
    background-color: #fff;
}

.GridRow td1
{
    border: #8babe4 1px solid;   
    padding:2px;
    font-size: 12px;
    font-family: arial;
}

.SectionDevider1
{
    height:10px;
}






/*********************************************************************************/

.ContentLabel1
{
    font-size: 12px;
    font-family: arial;
    text-align:left;
}

.Buttons1
{
    font-size: 12px;
    color: #000099;
    font-family: arial;
    background-color: #8babe4;
    border: 1px solid #000099;	
    padding-top:1px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:5px;
}

/*********************************************************************************/

/************************************ Tab styles ********************************/

.ajax__tab_theme1 .ajax__tab_header 
{
    font-family:verdana,tahoma,helvetica;
    font-size:11px;
    
}
.ajax__tab_theme1 .ajax__tab_header .ajax__tab_outer 
{
    padding-right:4px;
    background:url(../Styles/Tab/tab-right.gif) no-repeat right;
    height:26px;
}
.ajax__tab_theme1 .ajax__tab_header .ajax__tab_inner 
{
    padding-left:3px;
    background:url(../Styles/Tab/tab-left.gif) no-repeat;
}
.ajax__tab_theme1 .ajax__tab_header .ajax__tab_tab
{
    height:20px;    
    padding-top:6px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:4px;
    margin:0;
    background:url(../Styles/Tab/tab.gif) repeat-x;
}
.ajax__tab_theme1 .ajax__tab_hover .ajax__tab_outer 
{
    background:url(../Styles/Tab/tab-hover-right.gif) no-repeat right;
}
.ajax__tab_theme1 .ajax__tab_hover .ajax__tab_inner
{
    background:url(../Styles/Tab/tab-hover-left.gif) no-repeat;
}
.ajax__tab_theme1 .ajax__tab_hover .ajax__tab_tab
{
    background:url(../Styles/Tab/tab-hover.gif) repeat-x;
}
.ajax__tab_theme1 .ajax__tab_active .ajax__tab_outer 
{
    background:url(../Styles/Tab/tab-active-right.gif) no-repeat right;
}
.ajax__tab_theme1 .ajax__tab_active .ajax__tab_inner 
{
    background:url(../Styles/Tab/tab-active-left.gif) no-repeat;
}
.ajax__tab_theme1 .ajax__tab_active .ajax__tab_tab 
{
    background:url(../Styles/Tab/tab-active.gif) repeat-x;
}
.ajax__tab_theme1 .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;    
    padding: 10px;	
	background-color: #DBE6FA;
	border: 1px solid #82ABD9;	
}

